<div class="booyah-box col-xs-10 offset-1">
  <h2>Change your password</h2>
  <br><hr>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="booyah-box col-xs-8 offset-2">
      <%= f.input :password, label: "New password", required: true, autofocus: true, class: 'form-group form-control', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirm your new password", class: 'form-control form-group', required: true %>
    </div>

      <%= f.button :submit, "Change my password", class: 'btn btn-primary' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>