<div class="booyah-box col-xs-10 offset-1">
  <h2>Forgot your password?</h2>
  <br><hr>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="booyah-box col-xs-8 offset-2">
      <%= f.input :email, required: true, autofocus: true, class: 'form-group form-control' %>
    </div>
    <hr><br>
    <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary' %>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
