<h1>this is the index view of the places controller</h1>
<% @places.each do |place| %>
  <div class="booyah-box col-8 offset-2">
    <h1><%= place.name %></h1>
    <i><small><%= place.address %></small></i><br /><br />
    <p><%= place.description %></p><br />
  </div>

<!--<div class="card w-75 card-inverse card-info col-10 offset-1">
  <div class="card-block">
    <h3 class="card-title"><%= place.name %></h3>
    <p class="card-text"><%= place.address %><br><br>
    <%= place.description %></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
-->



<% end%>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @places %>
  </div>
  <%= will_paginate @places, :container => false %>
</div>