<h1>this is the index view of the places controller</h1>
<% @places.each do |place| %>
  <div class="booyah-box col-8 offset-2">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><small><%= place.address %></small></i><br /><br />
    <p><%= place.description %></p><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>





<% end%>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @places %>
  </div>
  <%= will_paginate @places, :container => false %>
</div>