<h1>Welcome to the show page</h1>
  <div class="card text-center booyah-box">
  <div class="card-header">
    Written by:
  </div>
  <div class="card-block">
  <h4 class="card-title"><%= @place.name %></h4>
 <p class=""> <%= @place.address %></p>
  <p class=""><%= @place.description %></p>
  <div class="card-footer text-muted">
    E-mail
  </div>




    


    
    <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%=d @place.longitude%>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=An3BMcvCXCeq3quhilhGZeWNo4YaICC0RTctwYgZ3wyCvV9lORrQCkOrsuFCKVc0&callback=initMap">
    </script>
    <div id="map"></div>
    <% end %>







  <br>
  <% if current_user && current_user == @place.user %>
    <div class="float-right">
      
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %> 
      
    </div>
    <div class="float-right">
      <%= link_to 'Destroy', place_path(@place),
                     method: :delete,
                      data: {confirm: 'Are you sure you want to delete this?'},
                      class: 'btn btn-primary' %> 
    </div>
  <% end %>
  <div class="clear"></div>
  
  </div>
</div>

          <hr>

</div>
<!--comments section-->
<div class="container">
<div class="col-xs-12 booyah-box">
<button class="accordion">Click to Add Comment:</button>
<div class="panel">
        <%= simple_form_for @comment, url: '#' do |f| %>
        <%= f.input :message %>
        <%= f.input :rating %>
        <hr>
        <%= f.submit "Add a Coment", class: 'btn btn-primary' %>
        <% end %>
</div>
</div>
</div>


<script type="text/javascript">
  
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
} 
</script>