<!DOCTYPE html>
<html>
  <head>
    <title>Foster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar navbar-inverse bg-inverse">
      <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Foster',root_path, class: 'navbar-brand right' %>
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <%= link_to 'Foster',root_path, class: 'navbar-brand' %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            
              <%= link_to new_place_path, class: 'nav-link' do%>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              New Place
              <% end %>
          </li>

          <li class="nav-item">
            <% if user_signed_in?%>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
              <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> 

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <% if notice.present? %>
     <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
    <!-- fooooter place -->


    <footer>
         <div class="container-fluid bg-primary py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
                <div class="row py-0">
              <div class="col-sm-1 hidden-md-down">
                  <a class="bg-circle bg-info" href="#">
                    <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                  </a>
                </div>
                <div class="col-sm-11 text-white">
                    <div><h4>  Contact</h4>
                        <p>   <span class="header-font">M</span>y<span class="header-font">w</span>website.com</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-5">
              <div class="d-inline-block">
                <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                  <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
        </a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                  <a href="https://twitter.com/">
                    <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                </div>

                <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                  <a href="https://www.linkedin.com/company/">
                    <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                  <a href="https://www.google.com/">
                    <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </footer>
        <!--/.footer-->
    <p class="text-center"> Copyright © Footer Mywebsite Plugin 2014. All right reserved. </p>
        <!--/.footer-bottom--> 
  </body>
</html>
